
.admin-category-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.admin-category-container .admin-category-container h1,
.admin-category-container .admin-category-container h2 {
    color: #4CAF50;
    margin-bottom: 15px;
}

.admin-category-container .add-category-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-category-container .add-category-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.admin-category-container .add-category-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.admin-category-container .category-list {
    list-style: none;
    padding: 0;
}

.admin-category-container .category-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-category-container .category-list button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-category-container .category-list button:hover {
    background-color: #ad372a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.admin-category-container .go-back-button-category {
    background-color: #e36c16;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
}

.admin-category-container .go-back-button-category:hover {
    background-color: #7b5a3e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow for a deeper look */
}

.admin-category-container .go-back-button-category:active {
    transform: scale(0.95); /* Add a press-down effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Reduce the shadow */
}
