.admin-delivery-container {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /* Ensure no margin */
}

.admin-delivery-container .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: fixed; /* Make it stick to the left side */
    height: 100%; /* Full height */
    top: 100px;
    left: 0;
}

.admin-delivery-container .go-back-button {
    background-color: #e36c16;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.admin-delivery-container .go-back-button:hover {
    background-color: #7b5a3e;
}

.admin-delivery-container .sidebar-option {
    padding: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.admin-delivery-container .sidebar-option:hover {
    background-color: #444;
}

.admin-delivery-container .sidebar-option.admin-delivery-container .active {
    background-color: #89d4db;
}

.admin-delivery-container .main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}
.admin-delivery-container .main-content-deliveries {
    flex: 1;
    margin-left: 250px; /* Account for sidebar width */
    padding: 40px;
    overflow-y: auto;
}

.admin-delivery-container .admin-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
