.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    width: 1200px; /* Increased width */
    height: 750px; /* Increased height */
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Left Column: Form */
.form-column {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #572108;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #000000;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
}

.success-message {
    color: #0e7a27;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.login-link .login-action {
    color: #470e07;
    cursor: pointer;
    text-decoration: none;
}

.login-link .login-action:hover {
    text-decoration: underline;
}

/* Right Column: Image */
.image-column {
    flex: 1;
    background-color: #f0f0f0;
}

.signup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
